.left {float: left; display: inline}
.right {float: right; display: inline;}

.popup { color:#1d1d1d;}
.popup h2 {font-size: 23px; margin-bottom: 5px;}
.popup h2 span {color: #01aeff;}
.popup h3 {font-size: 15px; font-weight: bold; line-height: 20px;}
.popup .popup-header {padding: 20px 20px 10px 20px}
.popup .popup-header p {font-size: 13px; padding-bottom: 12px;}
.popup .popup-header p.big {font-size: 15px;}
.popup a.save-for-now-button {background: url(/save-for-now-button.png) no-repeat 0 0; width: 105px; height: 28px; display: block; font-size: 0; line-height: 0; text-indent: -9999px}
.popup a.next-button {background: url(images/next-button.png) no-repeat 0 0; width: 74px; height: 28px; display: block; font-size: 0; line-height: 0; text-indent: -9999px}
.popup a.back-button {background: url(images/back-button.png) no-repeat 0 0; width: 74px; height: 28px; display: block; font-size: 0; line-height: 0; text-indent: -9999px;}
.popup .inactive-buttons a.button-back {background: url(images/button-back-inactive.png) no-repeat 0 0; width: 74px; height: 28px; display: block; font-size: 0; line-height: 0; text-indent: -9999px;}
.popup .inactive-buttons a.button-finished {background: url(images/button-finished-inactive.png) no-repeat 0 0; width: 85px; height: 28px; display: block; font-size: 0; line-height: 0; text-indent: -9999px;}

#popup-culture-1 {width: 775px; height: 929px; margin: 0 auto; background: url(images/popup-culture-1.png) no-repeat 0 0;}
#popup-culture-1 .popup-cnt {padding: 38px;}
#popup-culture-1 .culture-listing {border-top: 1px solid #b9b9b9; border-bottom: 1px solid #b9b9b9; height: 527px; overflow-x: hidden; overflow-y: scroll; margin-bottom: 18px;}
#popup-culture-1 .culture-listing-item {height: 43px; background: #fff; border-bottom: 1px solid #e3e3e3}
#popup-culture-1 .last-listing-item {border-bottom: 0;}
#popup-culture-1 .culture-listing-item div {float: left; line-height: 42px;}
#popup-culture-1 .culture-listing-item div.listing-number { width: 49px; text-align: right; margin-right: 15px; font-size: 15px;}
#popup-culture-1 .culture-listing-item div.listing-title {font-size: 13px; color: #484747; width: 433px;}
#popup-culture-1 .culture-listing-item div.listing-results {width: 168px; float: right; padding-top: 8px; padding-right: 10px;}
#popup-culture-1 .culture-listing-item div.listing-results span {width: 39px; float: left; height: 28px; margin-right: 3px; line-height: 28px; color: #fff; text-align: center; font-weight: bold;}
#popup-culture-1 .culture-listing-item div.listing-results span.result-no {background: #f4b7b7;}
#popup-culture-1 .culture-listing-item div.listing-results span.result-na {background: #e8b6b6;}
#popup-culture-1 .culture-listing-item div.listing-results span.result-ya {background: #b2d7e8;}
#popup-culture-1 .culture-listing-item div.listing-results span.result-yes {background: #b2e7ff;}
#popup-culture-1 .culture-listing-item div.listing-results span.chosen-no {background: #dc1010 !important;}
#popup-culture-1 .culture-listing-item div.listing-results span.chosen-na {background: #b30c0c !important;}
#popup-culture-1 .culture-listing-item div.listing-results span.chosen-ya {background: #0179b2 !important;}
#popup-culture-1 .culture-listing-item div.listing-results span.chosen-yes {background: #01aeff !important;}
#popup-culture-1 .popup-buttons {margin-right: 24px; margin-bottom: 35px;}
#popup-culture-1 .popup-buttons a {float: right; margin-left: 6px;}
#popup-culture-1 .popup-bottom {background: url(images/popup-1-bottom.gif) no-repeat 0 0; height: 35px; line-height: 34px; font-weight: bold; font-size: 13px; color: #fff; padding-left: 18px;}
